
*.env*

__pycache__/
*.pyc
*.pyo
*.pyd

data/
*.xlsx
*.json
*.db
*.sqlite
*.sqlite3
postgres-data/

logs/
*.log

.vscode/
.DS_Store
*.swp
*.swo


.docker/
docker-compose.override.yml


etl_log/
learning_note.txt
notebook.ipynb

.ruff_cache/
.pytest_cache/
.secrets
.env
.input
.vars

